{% extends "base.html" %}

{% block body %}

<div class="container top-0 center-component-l position-relative">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <div class="text-center text-white">
                <!-- Page heading-->
                <h1 class="mb-4">Webex Participant Analytics Generator</h1>
                <h3 class="mb-3">{{login_msg}}</h3>
                <!-- Login button -->
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-primary px-5 mb-3" href="http://127.0.0.1:5000/gologin">Log-In</a>
                        </div>
                    </div>
                <h6 class="mb-3 text-white"><a class="mb-3 text-white" href='http://127.0.0.1:5000/help'>How to use?</a></h6>
            </div>
        </div>
    </div>
</div>

{% endblock %}